# gruvbox
theme = {
  'dark_black': '{{ theme.dark_black }}',
  'black': '{{ theme.black }}',
  'light_black': '{{ theme.light_black }}',
  'very_light_black': '{{ theme.very_light_black }}',

  'dark_gray': '{{ theme.dark_gray }}',
  'gray': '{{ theme.gray }}',
  'light_gray': '{{ theme.light_gray }}',
  'very_light_gray': '{{ theme.very_light_gray }}',

  'dark_white': '{{ theme.dark_white }}',
  'white': '{{ theme.white }}',
  'light_white': '{{ theme.light_white }}',
  'very_light_white': '{{ theme.very_light_white }}',

  'dark_red': '{{ theme.dark_red }}',
  'red': '{{ theme.red }}',

  'dark_green': '{{ theme.dark_green }}',
  'green': '{{ theme.green }}',

  'dark_yellow': '{{ theme.dark_yellow }}',
  'yellow': '{{ theme.yellow }}',

  'dark_blue': '{{ theme.dark_blue }}',
  'blue': '{{ theme.blue }}',

  'dark_purple': '{{ theme.dark_purple }}',
  'purple': '{{ theme.purple }}',

  'dark_teal': '{{ theme.dark_teal }}',
  'teal': '{{ theme.teal }}',

  'dark_orange': '{{ theme.dark_orange }}',
  'orange': '{{ theme.orange }}',
}

border_color = theme['white']
