export PATH=$PATH:$(go env GOPATH)/bin
export PATH=$PATH:$HOME/.cargo/bin

export XDG_CONFIG_HOME={{ config_home|replace(user_dir, '$HOME') }}
export XDG_DATA_HOME={{ data_home|replace(user_dir, '$HOME') }}
export XDG_CACHE_HOME={{ cache_home|replace(user_dir, '$HOME') }}

export XDG_DESKTOP_DIR={{ desktop_dir|replace(user_dir, '$HOME') }}
export XDG_DOCUMENTS_DIR={{ documents_dir|replace(user_dir, '$HOME') }}
export XDG_DOWNLOAD_DIR={{ download_dir|replace(user_dir, '$HOME') }}
export XDG_MUSIC_DIR={{ music_dir|replace(user_dir, '$HOME') }}
export XDG_PICTURES_DIR={{ pictures_dir|replace(user_dir, '$HOME') }}
export XDG_PUBLICSHARE_DIR={{ publicshare_dir|replace(user_dir, '$HOME') }}
export XDG_VIDEOS_DIR={{ videos_dir|replace(user_dir, '$HOME') }}

export EDITOR={{ editor }}
export SUDO_EDITOR={{ sudo_editor }}
export VISUAL={{ visual }}
export PAGER={{ pager }}

export TERM={{ term }}
export BROWSER={{ browser }}
export PRINTER={{ printer }}

export FZF_DEFAULT_COMMAND="fd --type f --hidden --exclude '.git'"
export FZF_DEFAULT_OPTS="--height 40% --inline-info"
export FZF_ALT_C_COMMAND="fd --type d --hidden --exclude '.git'"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_T_OPTS="--preview 'bat --color always {} ^ /dev/null | head -200; highlight -O ansi -l {} ^ /dev/null | head -200; or cat {} ^ /dev/null | head -200'"

export BAT_PAGER=less
export BAT_THEME=zenburn

export $(gnome-keyring-daemon --start)

# autostart
xss-lock -l -- i3lock -ti /usr/share/backgrounds/rick.png &
nm-applet &
