set clipboard=unnamed,unnamedplus
set timeoutlen=0

" SpaceVim Options: {{ '{{{' }}
let g:spacevim_github_username = 'Sweenu'
let g:spacevim_lint_on_the_fly = 1
let g:spacevim_statusline_separator = 'arrow'
let g:spacevim_enable_tabline_filetype_icon = 1
let g:spacevim_enable_os_fileformat_icon = 1
let g:spacevim_buffer_index_type = 1

let g:spacevim_enable_vimfiler_welcome = 1
let g:spacevim_enable_vimfiler_filetypeicon = 1
" }}}

" SpaceVim Layers: {{ '{{{' }}
call SpaceVim#layers#load('git')
call SpaceVim#layers#load('github')
call SpaceVim#layers#load('incsearch')
call SpaceVim#layers#load('lang#c')
call SpaceVim#layers#load('lang#go')
call SpaceVim#layers#load('lang#haskell')
call SpaceVim#layers#load('lang#html')
call SpaceVim#layers#load('lang#java')
call SpaceVim#layers#load('lang#javascript')
call SpaceVim#layers#load('lang#json')
call SpaceVim#layers#load('lang#lua')
call SpaceVim#layers#load('lang#markdown')
call SpaceVim#layers#load('lang#perl')
call SpaceVim#layers#load('lang#php')
call SpaceVim#layers#load('lang#python')
call SpaceVim#layers#load('lang#rust')
call SpaceVim#layers#load('lang#vim')
call SpaceVim#layers#load('lang#xml')
call SpaceVim#layers#load('operator')   
call SpaceVim#layers#load('shell')   
call SpaceVim#layers#load('tags')
" }}}

let g:spacevim_custom_plugins = [
            \ ['pearofducks/ansible-vim'],
            \ ['dag/vim-fish'],
            \ ]
