Section "InputClass"
    Identifier "system-keyboard"
    MatchIsKeyboard "on"
    Option "XkbModel"   "pc105"
    Option "XkbLayout"  "{{ keyboard[0].layout }},{{ keyboard[1].layout}}"
    Option "XkbVariant" "{{ keyboard[0].variant }},{{ keyboard[1].variant}}"
    Option "XkbOptions" "caps:none"
    Option "XkbOptions" "terminate:ctrl_alt_bksp"
EndSection
