GRUB_TIMEOUT=0
GRUB_DISTRIBUTOR=Arch
GRUB_CMDLINE_LINUX_DEFAULT='quiet splash'
{% if encrypted_root %}
GRUB_CMDLINE_LINUX='rd.luks.name={{ ansible_device_links['uuids'][root_partition][0] }}={{ mapping_name }}'
{% endif %}
