---
username: sweenu
user_password: '{{ vault_user_password }}'
user_dir: /home/{{ username }}
email: brunoinec@gmail.com
autologin: yes

root_password: '{{ vault_root_password }}'
encryption_passphrase: '{{ vault_encryption_passphrase }}'
mapping_name: cryptroot
disk: nvme0n1
removable_drive: no
# this won't work anyway if not supported by SSD
enable_trim: no

hostname: carokann

nordvpn_username: '{{ email }}'
nordvpn_password: '{{ vault_nordvpn_password }}'

profile_icon_name: prof_image.jpg
wallpaper_name: popocatepetl.png
greeter_background: rick.png

config_home: '{{ user_dir }}/.config'
data_home: '{{ user_dir }}/.local/share'
cache_home: '{{ user_dir }}/.cache'
user_bin: '{{ user_dir }}/.local/bin'

desktop_dir: '{{ user_dir }}/Desktop'
documents_dir: '{{ user_dir }}/Documents'
download_dir: '{{ user_dir }}/Downloads'
music_dir: '{{ user_dir }}/Music'
pictures_dir: '{{ user_dir }}/Pictures'
publicshare_dir: '{{ user_dir }}'
repos_dir: '{{ user_dir }}/Repos'
videos_dir: '{{ user_dir }}/Videos'

editor: nvim
sudo_editor: nvim
visual: nvim
pager: less

term: alacritty
shell: fish
browser: brave
