[user]
  name = Bruno Inec
  email = brunoinec@gmail.com
  useConfigOnly

[branch]
  autosetuprebase = always

[core]
  excludesfile = ~/.config/git/gitignore

[credential]
  helper = /usr/lib/git-core/git-credential-libsecret

[url "git@github.com:"]
  insteadOf = https://github.com/

[alias]
  sq = "!f(){ [ -z ${1} ] && NUM=2 || NUM=${1}; LOG=$(git log --format=%B HEAD~${NUM}..HEAD~$((NUM-1))); git reset --soft HEAD~${NUM} && git commit -m"$LOG"; };f"
  ll = log --color --graph --date='short' --pretty=format:'%Cgreen%h %Cred%<(15,trunc)%an %Cblue%cd %Creset%s'
  gr = grep --line-number --break -I --heading --full-name

