XDG_DESKTOP_DIR="{{ desktop_dir|replace(ansible_user_dir, '$HOME') }}"
XDG_DOCUMENTS_DIR="{{ documents_dir|replace(ansible_user_dir, '$HOME') }}"
XDG_DOWNLOAD_DIR="{{ download_dir|replace(ansible_user_dir, '$HOME') }}"
XDG_MUSIC_DIR="{{ music_dir|replace(ansible_user_dir, '$HOME') }}"
XDG_PICTURES_DIR="{{ pictures_dir|replace(ansible_user_dir, '$HOME') }}"
XDG_PUBLICSHARE_DIR="{{ publicshare_dir|replace(ansible_user_dir, '$HOME') }}"
XDG_TEMPLATES_DIR="{{ repos_dir|replace(ansible_user_dir, '$HOME') }}"
XDG_VIDEOS_DIR="{{ videos_dir|replace(ansible_user_dir, '$HOME') }}"
