[Unit]
Description=Locks the screen before lid close

[Service]
ExecStart=/usr/bin/xss-lock i3lock-fancy
Restart=on-failure
StartLimitBurst=10

[Install]
WantedBy=default.target
