{
  output "Unknown 0x058B 0x00000000" enable scale 1.5 position 1920,0
  output "Dell Inc. DELL U2414H 292K474B12EL" enable scale 1.0 position 0,0
}
{
  output "Unknown 0x058B 0x00000000" enable scale 1.5 position 1920,0
  output * enable scale 2.0 position 0,0
}
{
  output "Unknown 0x058B 0x00000000" enable scale 1.5 position 0,0
}
