# see man termite.config for more information

[options]
allow_bold = true
audible_bell = false
clickable_url = true
hyperlinks = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font = DejaVuSansMono 13
fullscreen = true
icon_name = utilities-terminal
mouse_autohide = true
scrollback_lines = 10000
scroll_on_keystroke = true
scroll_on_output = false
search_wrap = false
size_hints = true
urgent_on_bell = true

[colors]
# gruvbox (custom)

foreground      = #{{ theme.light_white }}
foreground_bold = #{{ theme.very_light_white }}
cursor          = #{{ theme.white }}
{% set red, blue, green = theme.black|fromhex %}
background      = rgba({{ red }}, {{ green }}, {{ blue }}, 0.9)

color0  = #{{ theme.dark_black }}
color7  = #{{ theme.white }}
color8  = #{{ theme.light_gray }}
color15 = #{{ theme.very_light_white }}

color1  = #{{ theme.dark_red }}
color9  = #{{ theme.red }}

color2  = #{{ theme.dark_green }}
color10 = #{{ theme.green }}

color3  = #{{ theme.dark_yellow }}
color11 = #{{ theme.yellow }}

color4  = #{{ theme.dark_blue }}
color12 = #{{ theme.blue }}

color5  = #{{ theme.dark_purple }}
color13 = #{{ theme.purple }}

color6  = #{{ theme.dark_teal }}
color14 = #{{ theme.teal }}

# Extra Colors
color16 = #{{ theme.orange }}
color17 = #{{ theme.dark_orange }}
color18 = #{{ theme.light_black }}
color19 = #{{ theme.very_light_black }}
color20 = #{{ theme.dark_white }}
color21 = #{{ theme.light_white }}
