from subprocess import run
from pathlib import Path

from libqtile.log_utils import logger
from libqtile.xcbq import Monitor as BaseMonitor

from .backlight import Backlight


def enable_monitor(monitor, primary=False, side=None, relative_monitor=None):
    command = ['xrandr', '--output', monitor.name, '--auto']
    if primary:
        command += ['--primary']
    if side:
        if not relative_monitor:
            raise Exception('Need a monitor to be relative to')
        command += ['--{}'.format(side), relative_monitor.name]
    run(command)
    logger.info(f'Running command: {" ".join(command)}')
