call plug#begin('~/.local/share/nvim/plugged')
Plug 'chriskempson/base16-vim'
Plug 'itchyny/lightline.vim'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-repeat'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-unimpaired'
Plug 'wellle/targets.vim'
call plug#end()

" lightline config
set noshowmode
let g:lightline = {'colorscheme': 'jellybeans'}

" indentation
set expandtab
set shiftwidth=2
set autoindent
set smartindent

set clipboard=unnamed,unnamedplus
set mouse=a
set smartcase
set termguicolors
colorscheme base16-oceanicnext
highlight Normal ctermbg=NONE
highlight nonText ctermbg=NONE
map Y y$
cmap w!! w !sudo tee > /dev/null %
