[AddNewTorrentDialog]
RememberLastSavePath=false
expanded=false
width=486

[Application]
FileLogger\Age=1
FileLogger\AgeType=1
FileLogger\Backup=true
FileLogger\DeleteOld=true
FileLogger\Enabled=true
FileLogger\MaxSizeBytes=66560
FileLogger\Path=/home/sweenu/.local/share/data/qBittorrent/logs

[AutoRun]
enabled=false
program=

[BitTorrent]
Session\CreateTorrentSubfolder=true
Session\DisableAutoTMMByDefault=true
Session\DisableAutoTMMTriggers\CategoryChanged=false
Session\DisableAutoTMMTriggers\CategorySavePathChanged=true
Session\DisableAutoTMMTriggers\DefaultSavePathChanged=true

[Core]
AutoDeleteAddedTorrentFile=IfAdded

[GUI]
Log\Enabled=true
Log\Types=-1
Notifications\DownloadTrackerFavicon=true
Notifications\Enabled=true
Notifications\TorrentAdded=false

[LegalNotice]
Accepted=true

[Preferences]
Advanced\AnonymousMode=true
Advanced\DisableRecursiveDownload=false
Advanced\RecheckOnCompletion=false
Advanced\TrayIconStyle=1
Advanced\confirmRemoveAllTags=true
Advanced\confirmTorrentDeletion=true
Advanced\confirmTorrentRecheck=true
Advanced\trackerPort=9000
Advanced\useSystemIconTheme=true
Bittorrent\AddTrackers=false
Bittorrent\MaxRatioAction=0
Bittorrent\PeX=true
Connection\GlobalDLLimitAlt=10
Connection\GlobalUPLimitAlt=10
Connection\InterfaceName=
Connection\Proxy\IP=ch84.nordvpn.com
Connection\Proxy\Password={{ nordvpn_password }}
Connection\Proxy\Port=1080
Connection\Proxy\Username={{ nordvpn_username }}
Connection\ProxyPeerConnections=true
Connection\ProxyType=4
Connection\ResolvePeerCountries=true
Connection\ResolvePeerHostNames=false
Connection\alt_speeds_on=false
Downloads\DblClOnTorDl=0
Downloads\DblClOnTorFn=1
Downloads\NewAdditionDialog=true
Downloads\NewAdditionDialogFront=true
Downloads\PreAllocation=false
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\0)
Downloads\StartInPause=false
General\AlternatingRowColors=true
General\CloseToTray=false
General\ExitConfirm=false
General\HideZeroComboValues=0
General\HideZeroValues=true
General\Locale=en
General\MinimizeToTray=false
General\NoSplashScreen=true
General\PreventFromSuspendWhenDownloading=true
General\PreventFromSuspendWhenSeeding=false
General\StartMinimized=false
General\SystrayEnabled=true
General\UseRandomPort=false
MailNotification\email=
MailNotification\enabled=false
MailNotification\password=
MailNotification\req_auth=false
MailNotification\req_ssl=false
MailNotification\sender=qBittorrent_notification@example.com
MailNotification\smtp_server=smtp.changeme.com
MailNotification\username=
Scheduler\days=0
Scheduler\end_time=@Variant(\0\0\0\xf\x4J\xa2\0)
Scheduler\start_time=@Variant(\0\0\0\xf\x1\xb7t\0)
State\hSplitterSizes=119, 634
State\size=@Size(779 591)
WebUI\Enabled=false

[RSS]
AutoDownloader\SmartEpisodeFilter=s(\\d+)e(\\d+), (\\d+)x(\\d+), "(\\d{4}[.\\-]\\d{1,2}[.\\-]\\d{1,2})", "(\\d{1,2}[.\\-]\\d{1,2}[.\\-]\\d{4})"

[ShutdownConfirmDlg]
DontConfirmAutoExit=true

[SpeedWidget]
graph_enable_0=true
graph_enable_1=true
graph_enable_2=false
graph_enable_3=false
graph_enable_4=false
graph_enable_5=false
graph_enable_6=false
graph_enable_7=false
graph_enable_8=false
graph_enable_9=false
period=1

[TorrentAdditionDlg]
save_path_history=/home/sweenu/Downloads

[TransferListFilters]
selectedFilterIndex=0
trackerFilterState=true
