data.location={{ data_home }}/task

include {{ sub_root }}/usr/share/doc/task/rc/solarized-dark-256.theme

# Inthe.AM
taskd.certificate={{ data_home }}/task/private.certificate.pem
taskd.key={{ data_home }}/task/private.key.pem
taskd.ca={{ data_home }}/task/ca.cert.pem
taskd.server=taskwarrior.inthe.am:53589
taskd.credentials=inthe_am/brunoinec/e61c35da-1a10-4cb2-9ee3-1753dfaf5ddf
taskd.trust=ignore hostname
