"use strict";
exports.__esModule = true;
exports.configuration = {
    "autoUpdate.enabled": false,
    "autoClosingPairs.enabled": false,
    "commandline.mode": false,
    "oni.hideMenu": true,
    "oni.loadInitVim": true,
    "editor.clipboard.synchronizeDelete": true,
    "editor.fontSize": "15px",
    "editor.quickInfo.delay": 250,
    "editor.scrollBar.visible": false,
    "language.rust.languageServer.command": "rls",
    "sidebar.enabled": false,
    "terminal.shellCommand": "fish",
    "ui.colorscheme": "base16-oceanicnext"
};
