---
- name: Install adapta theme
  pacman:
    name: adapta-gtk-theme
  become: true

- name: Install papirus-icon-theme
  pacman:
    name: papirus-icon-theme
  become: true

- name: Create gtk3 config directory
  file:
    path: '{{ config_home }}/gtk-3.0'
    state: directory

- name: Configure gtk3
  ini_file:
    path: '{{ config_home }}/gtk-3.0/settings.ini'
    section: Settings
    option: '{{ item.option }}'
    value: '{{ item.value }}'
  loop:
    - { option: 'gtk-theme-name', value: 'Adapta-Nokto' }
    - { option: 'gtk-application-prefer-dark-theme', value: 'true' }
    - { option: 'gtk-icon-theme-name', value: 'Papirus-Dark' }
